/* Variables */
:root {
    --background-color: #2C2C3C;
    --primary-color: #237563;
    --primary-color-darkened: #166856;
    --text-color: white;
    --font-stack: 'Work Sans', sans-serif;
    --spacing: 1rem;
    --border-radius: 2px;
}

/* Overall Styling */
body {
    background-color: var(--background-color);
}

.page-container {
    max-width: 640px;
    padding: 2rem;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Typography */
body {
    font-family: var(--font-stack);
    color: var(--text-color);
    font-size: clamp(1rem, -0.8750rem + 8.3333vw, 2rem);
}

h1, h2, h3, h4, h5, h6, p {
    margin: var(--spacing) 0;
}

/* Components */
button {
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacing) calc(var(--spacing) * 2);
    font-family: var(--font-stack);
    margin: var(--spacing) 0;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-color-darkened);
}

img {
    border-radius: var(--border-radius);
}

select {
    background: var(--background-color);
    color: var(--text-color);
    border: 2px solid white;
    border-radius: var(--border-radius);
}

.img-text-container {
    display: flex;
    align-items: center;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

/* Base Page */
.spotify-icon {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: var(--spacing);
}

/* Landing Page */
.login-form {
    text-align: center;
}

.hero-container {
    position: relative;
    margin-bottom: var(--spacing);
    width: 100%;
    aspect-ratio: 1;
}

.hero-image {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    filter: brightness(0.5);
    z-index: -1;
}

.hero-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

/* Playlist Selector Page */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--spacing);
}

.profile-name {
    margin: 0;
    margin-top: var(--spacing);
}
.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: var(--spacing);
}

/* Cover Generator Page */
.loading-icon-container {
    text-align: center;
}

.loading-icon {
    animation: rotate 1.5s linear infinite;
    font-size: 4em;
    display: inline-block;
}

.images-loaded .loading-icon {
    display: none;
}

.cover-generator {
    display: none;
}

.images-loaded .cover-generator {
    display: block;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}