{% extends 'base.jinja' %}

{% block content %}
<div class="loading-icon-container">
    <span class="loading-icon">💿</span>
</div>

<section class="cover-generator">
    <canvas id="playlist-cover"></canvas>

    <div class="btn-container">
        <button id="regenerate" class="btn btn-primary">🎲 Randomize</button>
        <button id="save-to-spotify" class="btn btn-secondary">💾 Save to Spotify</button>
    </div>
</section>


<script>
    // Inject relevant data into the JS
    const ALBUM_COVERS = {{album_covers|tojson|safe}};
    const SPOTIFY_ACCESS_TOKEN = {{session['spotify_access_token']|tojson|safe}};
    const PLAYLIST_ID = {{request.args.get('target_playlist')|tojson|safe}};
</script>
<script src="https://cdn.jsdelivr.net/npm/dat.gui@0.7.7/build/dat.gui.min.js"></script>
<script src="{{ url_for('static', filename='scripts/cover-generator.js') }}"></script>

{% endblock %}