{% extends 'base.jinja' %}

{% block content %}
<img src="{{session['user_profile']['image']}}" alt="Spotify Profile Image">
<h2>Welcome, {{session['user_profile']['display_name']}}</h2>
<p>Create your fancy cover art here!</p>

<h3>Playlists</h3>
{% if playlists %}
    <form action="{{ url_for('cover_generator') }}" method="GET">
        <label for="target_playlist">Select a Playlist</label>
        <select name="target_playlist" id="target_playlist">
            {% for playlist in playlists %}
                <option value="{{playlist['id']}}">{{playlist['name']}}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary my-2">Create Playlist Cover</button>
    </form>
{% else %}
    <p>No playlists found!</p>
{% endif %}

<form action="{{ url_for('logout') }}" method="POST">
    <button type="submit" class="btn btn-secondary">Log Out</button>
</form>

<!--Inject Spotify credentials to the client-side Javascript-->
<script>
    const SPOTIFY_ACCESS_TOKEN = {{session['spotify_access_token']|tojson|safe}};
</script>
{% endblock %}